<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">


<p>Querido (a) Encontreiro (a),</p>

<p>É com muita alegria que confirmamos a sua inscrição para trabalhar na equipe <b th:text="${equipe}"></b>
do EJC da <b th:text="${igreja}"></b>, que tem por tema: <b th:text="${tema}"></b>.</p>

<p>O EJC acontecerá nos dias <b th:text="${inicioDia}"></b> e <b th:text="${dataFim}"></b>, na <b th:text="${local}"></b>, 
<b th:text="${endereco}"></b>.

<p>Aproveitamos o momento para lembrá-lo (a) que nossas reuniões inspirativas estão
acontecendo aos sábados às 16h, na Igreja Gileade JW, Av. I, 1097 - José Walter.</p>

<p>Agradecemos a você por se juntar a nós nessa grande missão. Que Deus o (a) abençoe.</p>



<p>Atenciosamente,</p>
<p>Coordenação do EJC</p>

<p style=" text-align: center;">“...Aquele que começou a boa obra em vocês, vai completá-la até o dia de Cristo Jesus”</p>
<p style=" text-align: center;">(Filipenses 1.6)</p>


<p style="font-size: 8px; text-align: center;">
Este e-mail foi enviado de forma automática e não deve ser respondido.
</p>

</body>
</html>