<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">


<p>Querido (a) Encontrista,</p>

<p>É com muita alegria que confirmamos a sua inscrição no Encontro de Jovens com Cristo da <b th:text="${igreja}"></b>.</p>

<p>O EJC acontecerá nos dias <b th:text="${inicioDia}"></b> e <b th:text="${dataFim}"></b>, na <b th:text="${local}"></b>, 
<b th:text="${endereco}"></b>.

<p>Algumas informações importantes:</p>

<p>1)	Você deverá estar lá às 7h30. Seja pontual!</p>
<p>2)	Use roupas confortáveis!</p>
<p>3)	E prepare-se! Você viverá momentos incríveis!</p>

<p>Que Deus te abençoe! Nos vemos no EJC!</p>


<p>Atenciosamente,</p>
<p>Coordenação do EJC</p>


<p style="font-size: 8px; text-align: center;">
Este e-mail foi enviado de forma automática e não deve ser respondido.
</p>

</body>
</html>